body {
    background-color: cadetblue;
    font-size: 1vw;

}

div {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
    text-align: center;
}

h1, h2, h3, p {
    text-align: center;
}
